{% extends 'index.html' %}

{% block title%}
    博客首页面
{% endblock %}

{% block content %}
    <table class="table table-hover">
        <tr>
            <td>文章标识</td>
            <td>文章标题</td>
            <td>文章内容</td>
            <td>文章作者</td>
            <td>文章点击量</td>
            <td>操作</td>
        </tr>
        {% for at in page.object_list %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td><a href="{% url 'blog:detail_article' at.id %}">{{at.title | striptags | truncatechars:15}}</a></td>
            <td>{{at.content | striptags |truncatechars:15}}</td>
            <td>{{at.author.nickname}}</td>
            <td><span class="badge">{{at.count}}</span></td>
            <td>
                {% if at.author.id == request.session.loginUser.id %}
                <a class="button btn-sm btn-primary" href="{% url 'blog:update_article' at.id%}">修改文章</a>
                <a class="button btn-sm btn-danger" href="{% url 'blog:delete_article' at.id%}">删除文章</a>
                {% else %}
                没有权限
                {% endif %}
            </td>
        </tr>
        {%empty%}
        <tr>
            <td colspan="6">这里空空如也，<a href="{% url 'blog:write_article'%}">快去分享自己的点滴生活</a></td>
        </tr>
        {% endfor %}

        <tr style="text-align: center">
        <td colspan="6">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="/blog/all_arts/?pageNow=1">首页</a>
                    <li>
                    {% if page.has_previous %}
                         <li>
                            <a href="/blog/all_arts/?pageNow={{ page.previous_page_number }}">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                         </li>
                    {% endif%}
                    {% for p in page.paginator.page_range %}
                        {% if p == page.number %}
                             <li class="active" disabled="disabled">
                                 <a href="/blog/all_arts/?pageNow={{p}}" >{{p}}</a>
                             </li>
                        {% else %}
                             <li>
                                <a href="/blog/all_arts/?pageNow={{p}}">{{p}}</a>
                             <li>
                        {% endif %}
                    {% endfor %}

                    {% if page.has_next %}
                        <li>
                            <a href="/blog/all_arts/?pageNow={{ page.next_page_number }}">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif%}
                     <li>
                        <a href="/blog/all_arts/?pageNow={{ page.paginator.num_pages }}">尾页</a>
                     <li>
                </ul>
            </nav>
        </td>
    </tr>


    </table>
{% endblock %}